@model Clase_25_11_18.Models.Intity.Clientes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VDireccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VDireccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VRUC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VRUC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VTelefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VTelefono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IClienteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
